body{
  background-image: url(/img/motorista-img.png) ;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;

}

.botao-wpp {
  text-decoration: none;
  color: #eee;
  background-color: #25d366;
  font-weight: bold;
  padding: 0.7rem 0.6rem;
  border-radius: 10px;
}

#TXT{

  background-color: rgba(255, 255, 255, 0.755);
  padding: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  border-radius: 10px;
  text-align: center;
  color: #263C70;
}

#image{
  margin-left: 30%;
}


#Redesocial{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  margin-top: 50px;
 
  
}

#Redesocial img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}