
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#logo-nav {
  background-color: white;
  padding: 20px 0;
  height: 80%;
  width: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
 
}
.txt-p-bottom {
  font-weight: bold;
  font-size: 30px;
}

.card-text {
  font-weight: bold;
  font-size:  1.2rem;
}

#logo-nav img {
  height: 100%;
  width: 25%;
}

.content-bottom {
  background-color: white;
  
}

.background-img {
  height: 600px;
  width: 99vw;
  background-image: url('../img/background-img-edit.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card-img-top {
  width: 70px;
  height: 70px;
}

.card-space {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ident-large {
  background-color: white;
  position: relative;
  padding-left: 40px;
  width: 93%;
  left: 50px;
  bottom: 90px;
}

.ident-small {
  width: 50%;
  margin: 0;
  padding-top: 30px;
}

 .conteudo{
   width: 80%;
  position: relative;
  display: flex;
  padding-left: 70px;
  padding-top: 60px;
  z-index: 1;
}

.paragrafo-1 {
  width: 70%;
  margin-bottom: 25px;
}

.paragrafo-2 {
  width: 70%;
  margin-bottom: 15px;
}
.apresentacao{
  color: white;
}

.titulo{
  font-size: 2.5rem;
  background: #B09494;
  font-weight: bold;
  width: 213px;
  margin-bottom: 45px;
 

}

.texto1{
 
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 45px;
 
}

.texto2{

font-size: 1.5rem;
}

 
.formulario{
 
  width: 550px;
  height: 600px;
  background-color: #F2F2F2;
  padding: 20px 50px;
}

 
.formulario h2{

  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.btn{
  background: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 6px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
 
  color: white;
  height: 52px;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}
 
.btn:hover{
  border: 2px solid rgb(101, 45, 7);
}

.footer {
  height: 70px;
  vertical-align: bottom;
}

.fb-icon {
   color: rgb(99, 98, 98);
}

.fb-icon:hover {
   color: rgb(110, 197, 248);
}



@media (max-width: 1127px) {


  .conteudo{
   
    width: 90%;
   position: relative;
   display: flex;
   padding-left: 50px;
   padding-top: 40px;
   z-index: 1;
 }

  .formulario {
 
    width: 40%;
    height:100%;
    background-color: #F2F2F2;
    padding: 30px 40px;
  }

  .apresentacao{
  
    color: white;
    width: 60%;
    height: 400px;
  }

  .paragrafo-1 {
    height: 45%;
    width: 90%;
  }

  .paragrafo-2 {
    margin-bottom: 10px;
    width: 80%;
  }

  .texto1{
    padding-top: 20px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 45px;
   
  }
  
  .texto2{
  
  font-size: 1.5rem;
  line-height: 28px;
  }

  .card-space {
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
}


}